
.ml-breadcrumb {
    &__main {
        align-items: center;
        background-color: transparent;
        display: flex;
        font-size: 16px;
        height: 16px;
        line-height: 20px;
        margin: 16px 0;
        width: 100%;
    };
};
